@using Notes.Client.Comp
@using Notes.Protos
@using Syncfusion.Blazor.Buttons

@inject CookieStateAgent myState

<div class="dialogs">
    <h3>User Role Editor</h3>
    <div>
        @if (Model == null)
        {
            <p class="center"><em>Loading...</em></p>
        }
        else
        {
            @Model.UserData.DisplayName<br />
            foreach (CheckedUser item in Model.RolesList.List)
            {
                <SfCheckBox @bind-Checked="@item.IsMember" Label="@item.TheRole.RoleName"></SfCheckBox><span>&nbsp;&nbsp;&nbsp;</span>
            }
  
            <br /><br />
            <button type="button" @onclick="@Submit">Submit</button>
          
            <button type="button" @onclick="@Done">Close</button>
        }
    </div>
</div>
				
<style>
    .blazored-custom-modal {
        display: flex;
        flex-direction: column;
        z-index: 102;
        width: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>
